body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    background: white;
}

/* Container */

#myContainer {
    margin-top: 6%;
}

/* Text */

#text {
    margin-left: 40%;
    margin-bottom: 4%;
}

/* Button */

#myButtons {
    position: relative;
}

/* Necklace */

.necklaceString {
  position: absolute;
  margin-top: 6%;
  display: inline-block;
  background: black;
  height: 3px;
  width: 100%;
    /*display: inline-block;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border: 3px solid black;
    margin: 0 auto;
    position: absolute;
    right: 0px;
    left: 0px;
    top: -500px;
    padding:*/
}

/* Beads */

.bead {
    width: 60px;
    height: 60px;
    background: #94d6ec;
    border-radius: 50%;
    position: relative;
    margin-top: 4%;
    display: inline-block;
    margin-left: 3%;
    float: left;
}

input#addBead {
    position: absolute;
    bottom: 20%;
    left: 48%;
}

.bead:hover {
    opacity: 0.5;
    -webkit-transform: scale(1.25);
    transition: 300ms;
}

input.EarnBead {
    width: 300px;
    padding: 20px height: 60px;
    background: white;
    border-radius: 50%;
    right: 0px;
    left: 0px;
    position: absolute;
}

input.ShareBead {
    width: 300px;
    padding: 20px;
    text-align: center;
    height: 60px;
    background: red;
    position: absolute;
}
